# URL de l'API backend.
API_URL=http://localhost:3000

# Clé publique Cloudflare Turnstile (site key), utilisée côté serveur (SSR) pour vérifier l'utilisateur humain.
TURNSTILE_SITE_KEY=turnstile_site_key
