@if (!editing()) {
    <button type="button" class="inline-edit-btn" (click)="edit.emit()">
        <iconify-icon icon="lucide:edit"></iconify-icon>
    </button>
} @else {
    <div class="inline-edit-actions">
        <button type="button" class="inline-cancel-btn" (click)="cancel.emit()">
            <iconify-icon icon="lucide:x"></iconify-icon>
        </button>
        <button type="button" class="inline-save-btn" (click)="save.emit()" [disabled]="saving() || saveDisabled()">
            @if (saving()) {
                <span class="inline-spinner-sm"></span>
            } @else {
                <iconify-icon icon="lucide:check"></iconify-icon>
            }
        </button>
    </div>
}
