<main>
    @if (showHeader()) {
        <ac-announcement-banner></ac-announcement-banner>
        <ac-prelaunch-banner></ac-prelaunch-banner>
        <ac-header></ac-header>
    }

    <div [class]="showHeader() ? 'pt-[calc(8rem_+_var(--top-banners-h))] mx-auto w-[20rem] md:pt-[calc(9rem_+_var(--top-banners-h))] sm:w-[30rem] md:w-[40rem] lg:w-[55rem]' : ''">
        <router-outlet></router-outlet>
    </div>

    @if (showFooter()) {
        <ac-footer></ac-footer>
    }

    <ac-toast></ac-toast>
    <call-overlay></call-overlay>
</main>
