<section class="px-4 py-10 mx-auto space-y-8 max-w-screen-lg">
    <div class="space-y-3 text-center">
        <h1 class="text-4xl font-semibold">{{ 'urgencesPage.title' | transloco }}</h1>
        <p class="text-[var(--text-secondary)]">{{ 'urgencesPage.description' | transloco }}</p>
    </div>

    <div class="grid gap-6 justify-center items-start sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
        @for (trade of trades; track trade.slug) {
            <a class="block w-48 text-center shrink-0 group" [routerLink]="['/job', trade.slug]">
                <div class="overflow-hidden mx-auto w-40 h-40 rounded-full border">
                    <img
                        [src]="trade.image"
                        [alt]="trade.name"
                        class="object-cover w-full h-full border"
                        loading="lazy"
                    />
                </div>
                <div class="mt-2 font-medium">
                    {{ 'jobs.list.' + trade.i18nKey + '.name' | transloco }}
                </div>
            </a>
        }
    </div>

    <!-- Détails des interventions d'urgence -->
    <div class="border rounded-lg p-6 space-y-4">
        <p>{{ 'home.emergency.description.p1' | transloco }}</p>
        <p>{{ 'home.emergency.description.p2' | transloco }}</p>
        <p>{{ 'home.emergency.description.p3' | transloco }}</p>
        <p>{{ 'home.emergency.description.p4' | transloco }}</p>
        <ul class="pl-6 space-y-1 list-disc">
            @for (item of $any('home.emergency.description.list1' | transloco); track $index) {
                <li>{{ item }}</li>
            }
        </ul>
        <p>{{ 'home.emergency.description.p5' | transloco }}</p>
        <p>{{ 'home.emergency.description.p6' | transloco }}</p>
        <p>{{ 'home.emergency.description.p7' | transloco }}</p>
        <p>{{ 'home.emergency.description.p8' | transloco }}</p>
        <p>{{ 'home.emergency.description.p9' | transloco }}</p>
        <p>{{ 'home.emergency.description.p10' | transloco }}</p>
        <p>{{ 'home.emergency.description.p11' | transloco }}</p>
        <p>{{ 'home.emergency.description.p12' | transloco }}</p>
        <ul class="pl-6 space-y-1 list-disc">
            @for (item of $any('home.emergency.description.list2' | transloco); track $index) {
                <li>{{ item }}</li>
            }
        </ul>
        <p>{{ 'home.emergency.description.p13' | transloco }}</p>
    </div>
</section>
